body {
  font-family: Arial, Helvetica, sans-serif;
  background: #bebcbc;
  text-align: center;
}

p {
  font-style: italic;
}

.container {
  padding-top: 20px;
  margin: 20px auto;
  border: 3px groove #d3cece;
  width: 70%;
}

button {
  background: #9b499b;
}